<footer>
  <div class="mt-16 border-t border-gray-100 pt-8">
    <p class="text-center text-sm">
      &copy; 2023. All rights reserved.
      <br />
      Made with ❤️ by <span class="italic text-orange-500">Leandro Burgos Corvalán</span>
    </p>
    <p class="text-center text-xs">
      Powered by <a class="hover:underline text-orange-500" href="https://astro.build/" target="_blank">Astro</a>
    </p>
  </div>
</footer>